@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.stats-showcase {
    padding: v.$section-padding-vertical v.$main-padding-horizontal;
    gap: 80px;

    @media (max-width: 900px) {
        padding: v.$section-padding-vertical 20px;
    }

    @media (max-width: 1200px) {
        gap: 70px;
    }

    @media (max-width: 1024px) {
        gap: 60px;
    }

    @media (max-width: 850px) {
        gap: 45px;
    }

    @media (max-width: 640px) {
        gap: 35px;
    }

    @media (max-width: 480px) {
        gap: 28px;
    }

    &__title {
        color: t.$color-white;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        font-size: v.$font-size-attention-big;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: v.$font-size-attention;
        }

        @media (max-width: 1024px) {
            font-size: v.$font-size-attention-tablet;
        }

        @media (max-width: 850px) {
            font-size: v.$font-size-side-content;
        }

        @media (max-width: 640px) {
            font-size: v.$font-size-side-content-mobile;
        }

        @media (max-width: 600px) {
            font-size: v.$font-size-content-top-mobile;
        }

        @media (max-width: 480px) {
            font-size: v.$font-size-main;
        }
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        @media (max-width: 1400px) {
            gap: 20px;
        }

        @media (max-width: 1200px) {
            gap: 18px;
        }

        @media (max-width: 1024px) {
            gap: 15px;
        }

        @media (max-width: 850px) {
            gap: 20px;
        }

        @media (max-width: 640px) {
            gap: 15px;
        }

        @media (max-width: 480px) {
            gap: 12px;
        }
    }
}

