@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.stats-showcase {
    padding: v.$section-padding-vertical v.$main-padding-horizontal;
    gap: 80px;

    &__title {
        color: t.$color-white;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        font-size: v.$font-size-attention-big;
        text-align: center;
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width: 1400px) {
            gap: 10px;
        }
    }
}

