@use '@/variables.scss' as v;
@use '@/theme.scss' as t;

.partner-form {
    background-color: t.$color-background;
    align-items: center;
    justify-content: center;
    padding: 10%;
    aspect-ratio: 1/1;
    max-width: 250px;

    border-radius: 20px;

    &__icon {
        width: 100%;
        height: 100%;
    }
}

