@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.menu-search-input {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;

    border-radius: 10px;
    border: none; 
    background-color: t.$color-white;

    padding: 14px 15px;

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__input {
        font-size: v.$font-size-main;

        outline: none;
        border: none;
        background-color: transparent;

        padding-left: 15px;
    }
}

