@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.menu-search-input {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 470px;

    border-radius: 10px;
    box-shadow: inset 0 0 0 2px t.$color-background-first; 
    border: none; 
    background-color: t.$color-white;

    &:focus {
        outline: none; 
        box-shadow: inset 0 0 0 2px t.$color-white; 
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__input {
        font-size: v.$font-size-main;

        outline: none;
        border: none;
        background-color: transparent;

        padding-left: 15px;
    }

    padding: 14px 15px;
}

