@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.menu-search-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    contain: layout;

    border-radius: 10px;
    border: none; 
    background-color: t.$color-white;

    padding: 0 15px;

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__input {
        width: 100%;
        height: 100%;
        font-size: v.$font-size-main;
        
        background-color: transparent;

        padding-left: 15px;
        padding-right: 15px;
    }
}

