@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.order-page {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 40px;
    }

    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 800px;

        &-container {
            background-color: t.$color-white;
            border-radius: 20px;
            padding: 35px 40px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            padding-top: 30px;

            &-total {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            &-label {
                font-family: v.$font-family-main;
                font-size: v.$font-size-side-content;
                font-weight: v.$font-weight-medium;
                color: t.$color-black;
            }

            &-value {
                font-family: v.$font-family-secondary;
                font-size: v.$font-size-attention;
                font-weight: v.$font-weight-bold;
                color: t.$color-black;
            }
        }
    }

    &__loader,
    &__empty {
        font-size: v.$font-size-content-top;
        color: t.$color-white;

        padding: 40px;
    }

    &__order {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
        max-width: 800px;
    }

    &__summary {
        background-color: t.$color-white;
        border-radius: 20px;
        padding: 35px 40px;
        width: 100%;

        &-title {
            font-family: v.$font-family-main;
            font-size: v.$font-size-side-content;
            font-weight: v.$font-weight-bold;
            color: t.$color-black;
            margin: 0 0 25px 0;
            user-select: none;
        }

        &-products {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-bottom: 25px;
        }

        &-product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;

            &-info {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            &-name {
                font-family: v.$font-family-secondary;
                font-size: v.$font-size-main;
                font-weight: v.$font-weight-medium;
                color: t.$color-black;
            }

            &-quantity {
                font-family: v.$font-family-secondary;
                font-size: v.$font-size-small;
                font-weight: v.$font-weight-medium;
                color: t.$color-background-first;
            }

            &-price {
                font-family: v.$font-family-secondary;
                font-size: v.$font-size-content-top;
                font-weight: v.$font-weight-bold;
                color: t.$color-black;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;

            &--total {
                padding-top: 20px;
            }
        }

        &-label {
            font-family: v.$font-family-main;
            font-size: v.$font-size-main;
            font-weight: v.$font-weight-medium;
            color: t.$color-black;
        }

        &-value {
            font-family: v.$font-family-secondary;
            font-size: v.$font-size-content-top;
            font-weight: v.$font-weight-medium;
            color: t.$color-black;

            &--price {
                font-size: v.$font-size-attention;
                font-weight: v.$font-weight-bold;
                color: t.$color-black;
            }
        }
    }

    &__delivery {
        background-color: t.$color-white;
        border-radius: 20px;
        padding: 35px 40px;
        width: 100%;

        &-title {
            font-family: v.$font-family-main;
            font-size: v.$font-size-side-content;
            font-weight: v.$font-weight-bold;
            color: t.$color-black;
            margin: 0;
            user-select: none;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-row {
            display: flex;
            gap: 20px;
            width: 100%;
        }
    }
}
