@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    font-family: v.$font-family-main;
    font-size: v.$font-size-main;
    
    transition: all 0.3s ease;
    
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    border-radius: 10px;

    &:active {
        transform: translateY(-3px);
    }
}

.btn--align-center { 
    justify-content: center;
}

.btn--primary {
    background-color: t.$color-background;
    color: t.$color-light-skin;
}

.btn--secondary {
    background-color: t.$color-black;
    color: t.$color-white;
}

.btn--default {
    background-color: t.$color-white;
    color: t.$color-black;
}

