@use '@/theme.scss' as t;
@use '@/variables.scss' as v;


.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    font-family: v.$font-family-main;
    font-size: v.$font-size-main;
    
    transition: all 0.3s ease;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:active {
        transform: translateY(-3px);
    }
}

.btn--radius-50 {
    border-radius: 50px;
}

.btn--radius-10 {
    border-radius: 10px;
}

.btn--radius-5 {
    border-radius: 5px;
}

.btn--width-full {
    width: 100%;
}

.btn--width-auto {
    width: auto;
}


.btn--padding-20 {
    padding: 20px;
}

.btn--padding-15 {
    padding: 15px 25px;
}

.btn--padding-10-15 {
    padding: 10px 15px;
}

.btn--padding-4-24 {
    padding: 4px 24px; 
}

.btn--padding-small {
    padding: 8px 16px;
}

.btn--primary {
    background-color: t.$color-background;
    color: t.$color-light-skin;
}

.btn--secondary {
    background-color: t.$color-light-skin;
    color: t.$color-background;
    border: 2px solid t.$color-background;
}

.btn--success {
    background-color: t.$color-black;
    color: t.$color-white;
}

.btn--default {
    background-color: t.$color-white;
    color: t.$color-black;
}

.btn--large {
    font-size: v.$font-size-content-top;
    padding: 15px 30px;
}

.btn--small {
    font-size: 14px;
    padding: 6px 12px;
}

