@use '@/variables.scss' as v;
@use '@/theme.scss' as t;

.partners { 
    display: flex;
    flex-direction: column;
    gap: 80px;

    padding: v.$section-padding-vertical 0;

    &__header {
        gap: v.$section-gap;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 0 v.$main-padding-horizontal;

        &__title {
            font-size: v.$font-size-attention-big;
            font-weight: v.$font-weight-medium;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
            text-align: center;
        }

        &__description {
            margin: 0;

            user-select: none;  
            font-size: v.$font-size-attention;
            font-weight: v.$font-weight-medium;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
            text-align: center;
        }
    }

    &__content {    

        &__section {
            background-color: t.$color-light-skin;

            &-items {
                background-color: t.$color-light-skin;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: clamp(10px, 13%, 13%);

                padding: v.$section-padding-vertical v.$main-padding-horizontal;
            }
        }
    }
}

