@use '@/variables.scss' as v;
@use '@/theme.scss' as t;

.partners { 
    display: flex;
    flex-direction: column;
    gap: 80px;

    padding: v.$section-padding-vertical 0;

    @media (max-width: 1024px) {
        gap: 60px;
    }

    @media (max-width: 850px) {
        gap: 40px;
    }

    &__header {
        gap: v.$section-gap;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 0 v.$main-padding-horizontal;

        @media (max-width: 1024px) {
            gap: 35px;
        }

        @media (max-width: 850px) {
            gap: 25px;
        }

        &__title {
            font-size: v.$font-size-attention-big;
            font-weight: v.$font-weight-medium;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
            text-align: center;

            @media (max-width: 1024px) {
                font-size: v.$font-size-attention-tablet;
            }

            @media (max-width: 850px) {
                font-size: v.$font-size-side-content-mobile;
            }

            @media (max-width: 600px) {
                font-size: v.$font-size-content-top-mobile;
            }
        }

        &__description {
            margin: 0;

            user-select: none;  
            font-size: v.$font-size-attention;
            font-weight: v.$font-weight-medium;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
            text-align: center;

            @media (max-width: 1024px) {
                font-size: v.$font-size-side-content-tablet;
            }

            @media (max-width: 850px) {
                font-size: v.$font-size-content-top-mobile;
            }

            @media (max-width: 600px) {
                font-size: v.$font-size-main-mobile;
            }
        }
    }

    &__content {    

        &__section {
            background-color: t.$color-light-skin;

            &-items {
                background-color: t.$color-light-skin;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: clamp(2px, 13%, 13%);

                padding: v.$section-padding-vertical v.$main-padding-horizontal;

                @media (max-width: 450px) {
                    gap: 20px;
                }
            }
        }
    }
}
