@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.advantage-form {
    background-color: t.$color-light-skin;
    
    aspect-ratio: 9 / 7;

    border-radius: 20px;
    padding: 20px 40px;

    display: grid;
    grid-template-rows: 1fr auto;

    &__icon {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__description {
        font-size: v.$font-size-section-title-main;
        font-weight: v.$font-weight-medium;
        color: t.$color-black;
        text-align: center;

        @media (max-width: 1500px) {
            font-size: 1.5vw;
        }
    }
}

