@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.advantage-form {
    cursor: pointer;
    background-color: t.$color-light-skin;
    position: relative;

    border-radius: 20px;

    display: flex;
    padding: v.$section-gap 0;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 10px 0 10px 40px;
        flex: 1;

        max-width: calc(100% - 160px);
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: v.$section-gap;
        width: 100%;
    }

    &__title {
        font-size: v.$font-size-section-title-main;
        font-family: v.$font-family-main;
        font-weight: v.$font-weight-medium;
        color: t.$color-black;
        margin: 0;
        width: fit-content;
        white-space: nowrap;
    }

    &__description {
        font-size: v.$font-size-content-top;
        font-family: v.$font-family-main;
        color: t.$color-background-first;

        margin: 0;
        line-height: 1.4;
        max-width: 480px;

        word-wrap: break-word;
        hyphens: auto;
        display: flex;
        
        padding-bottom: 50px;

        align-items: flex-start;
        overflow: hidden;
    }

    &__link {
        font-size: v.$font-size-main;
        font-family: v.$font-family-main;
        color: t.$color-black;
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        gap: 8px;
        
        position: relative;
        width: fit-content;
        contain: paint;
    }

    &__link-icon {
        opacity: 0;
        transform: translateX(-10px);
        transition: all 0.3s ease;
        width: 16px;
        height: 16px;
    }

    &__image {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    &:hover {
        .advantage-form__link-icon {
            opacity: 1;
            transform: translateX(0);
        }
    }
}