@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.feedback-input {
    gap: 28px;

    @media (max-width: 599px) {
        gap: 20px;
    }

    @media (max-width: 450px) {
        gap: 16px;
    }
}

