.poppup {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    opacity: 0;

    transition: 0.1s;

    z-index: 1000;
}

.poppup.active {
    opacity: 1;
    pointer-events: all;
}

.poppup__content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    // pointer-events: all;
}

