.poppup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.2s ease;

    &--visible {
        opacity: 1;
    }

    &--hidden {
        opacity: 0;
    }

    &__content {
        position: fixed;
        width: fit-content;
        height: fit-content;
    }
}

