@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.stats-showcase-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__number {
        font-size: v.$font-size-stats-number;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        color: t.$color-white;

        @media (max-width: 1400px) {
            font-size: v.$font-size-stats-number - 20px;
        }
    }

    &__description {
        font-size: v.$font-size-attention;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        color: t.$color-white;

        @media (max-width: 1400px) {
            font-size: v.$font-size-attention - 10px;
        }
    }
    
}

