@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.contacts-page {
    padding: 60px v.$main-padding-horizontal;

    @media (max-width: 899px) {
        padding: 40px 30px;
    }

    @media (max-width: 599px) {
        padding: 30px 20px;
    }

    @media (max-width: 450px) {
        padding: 20px 15px;
    }
    
    &__main {
        display: flex;
        flex-direction: column;
        gap: 80px;

        @media (max-width: 1024px) {
            gap: 60px;
        }

        @media (max-width: 850px) {
            gap: 40px;
        }

        @media (max-width: 599px) {
            gap: 30px;
        }

        &__title {
            display: flex;

            h1 {
                font-size: v.$font-size-h1-title;
                font-family: v.$font-family-secondary;
                color: t.$color-white;

                @media (max-width: 1300px) {
                    font-size: v.$font-size-h1-title-tablet;
                }

                @media (max-width: 1100px) {
                    font-size: v.$font-size-side-content-tablet;
                }

                @media (max-width: 600px) {
                    font-size: v.$font-size-content-top-mobile;
                }
            }
        }

        &__side-title {
            display: flex;

            font-size: v.$font-size-side-content;
            font-family: v.$font-family-secondary;
            color: t.$color-white;

            @media (max-width: 1024px) {
                font-size: v.$font-size-side-content-tablet;
            }

            @media (max-width: 600px) {
                font-size: v.$font-size-main-mobile;
            }
        }

        &__contacts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;

            padding: v.$section-padding-vertical 0px;

            @media (max-width: 1370px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            @media (max-width: 899px) {
                gap: 30px;
                padding: 30px 0;
            }

            @media (max-width: 599px) {
                gap: 10px;
                padding: 10px 0;
            }
        }

        &__feedback {
            display: grid;
            grid-template-columns: auto 1fr;

            &-data {
                display: flex;
                flex-direction: column;

                gap: 50px;

                padding: v.$section-padding-vertical 0;

                @media (max-width: 1024px) {
                    gap: 40px;
                }

                @media (max-width: 599px) {
                    gap: 30px;
                    padding: 30px 0;
                }

                @media (max-width: 450px) {
                    gap: 25px;
                    padding: 20px 0;
                }
            }

            &-imageContainer {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px;

                img {
                    width: 50%;
                    min-width: 500px;
                    aspect-ratio: 1 / 1;

                    border-radius: 20px;
                    border: solid 2px t.$color-background-first;
                }

                @media (max-width: 1240px) {
                    display: none;
                }
            }
        }
    }
}

