@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.home-page {
    &__logo-container {
        display: flex;
        gap: 10px;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: min-content;

        @media (max-width: 850px) {
            gap: 8px;
        }

        &__attention {
            font-size: v.$font-size-attention;
            font-family: v.$font-family-secondary;
            color: t.$color-white;

            @media (max-width: 1024px) {
                font-size: v.$font-size-attention-tablet;
            }

            @media (max-width: 850px) {
                font-size: v.$font-size-section-title-main-mobile;
            }

            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

