@use '@/variables.scss' as v;

.logo-small {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1024px) {
        gap: 15px;
    }

    @media (max-width: 900px) {
        gap: 10px;
    }

    &__img {
        width: 50px;
        height: 50px;

        @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
        }

        @media (max-width: 900px) {
            width: 32px;
            height: 32px;
        }
    }

    &__text {
        user-select: none;
        font-size: v.$font-size-main;

        @media (max-width: 1024px) {
            font-size: v.$font-size-small;
        }

        @media (max-width: 900px) {
            font-size: 12px;
        }
    }
}

