@use '@/variables.scss' as v;

.logo-small {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

    &__img {
        width: 50px;
        height: 50px;
    }

    &__text {
        user-select: none;
        font-size: v.$font-size-main;
    }
}

