@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.menu-card-button {
    padding: 10px;

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-family: v.$font-family-main;
            padding: 5px 12px;
            margin: -5px 10px;
            line-height: 1;
            color: inherit;
            border-radius: 5px;
            transition: background-color 0.2s ease;
            
            &:hover {
                background-color: t.$color-background-first;
            }
        }

        &-count {
            font-family: v.$font-family-main;
            font-size: v.$font-size-main;
            min-width: 20px;
            text-align: center;
        }
    }
}

