@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.menu-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 10px;
    padding: 20px;

    background-color: t.$color-light-skin;

    &__type {
        font-size: 14px; 
        width: fit-content;
        color: t.$color-white;

        padding: 5px;
        background-color: t.$color-background;
        border-radius: 10px;
    }

    &__title {
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }   

    &__quantity {
        font-size: 14px;
    }

    &__price {
        font-family: v.$font-family-secondary;
        font-size: 22px;
    }

    // &--format-common {
    //     background-color: t.$color-light-skin;
    // }

    // &--format-special {
    //     background-color: t.$color-black;
    //     color: t.$color-white;
    // }

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    img {
        width: 100%;
        border-radius: 10px;
    }
}

