@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.range-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    &__field {
        display: block;

        padding: 10px;
        border-radius: 10px;
        border: 2px solid t.$color-background-first;
        background-color: t.$color-white;
    }
}
