@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.order-mode-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    &__buttons {
        display: flex;
        gap: 60px;
        align-items: flex-start;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 120px);
            height: 2px;
            background-color: t.$color-background-first;
            z-index: 1;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 10px;

        background: none;
        border: none;
        cursor: pointer;
        
        font-family: v.$font-family-main;
        font-size: v.$font-size-main;

        color: t.$color-white;
        position: relative;
        z-index: 2;

        @media (max-width: 1024px) {
            font-size: v.$font-size-main-tablet;
        }

        &--active {
            .order-mode-switcher__circle {
                background-color: t.$color-white;
                color: t.$color-background;
                border-color: t.$color-white;
            }
        }
    }

    &__circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: v.$font-size-content-top;
        font-weight: v.$font-weight-bold;
        background-color: t.$color-background-first;
        border: 2px solid t.$color-background-first;
        color: t.$color-white;
        transition: all 0.3s ease;
        position: relative;
        z-index: 3;

        @media (max-width: 1024px) {
            font-size: v.$font-size-content-top-tablet;
        }
    }

    &__line {
        width: 100%;
        max-width: 240px;
        height: 3px;
        background-color: t.$color-background-first;
        position: relative;
        border-radius: 2px;
        margin-top: 20px;
    }

    &__line-active {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: t.$color-white;
        border-radius: 2px;
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

        &--order {
            transform: translateX(100%);
        }
    }
}
