@use '@/theme.scss' as t;

.bottom {
    transform: rotate(180deg);
}

.top, .bottom {
    --wave-color: #{t.$color-light-skin};

    display: block;
    height: 60px;

    @media (max-width: 1024px) {
        height: 45px;
    }

    @media (max-width: 850px) {
        height: 30px;
    }

    @media (max-width: 600px) {
        height: 20px;
    }
}