@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
}

.input-label {
    font-family: v.$font-family-main;
    font-size: v.$font-size-small;
    font-weight: v.$font-weight-medium;
    user-select: none;
}

.input-label--light {
    color: t.$color-white;
}

.input-label--dark {
    color: t.$color-black;
}

.input-label--large {
    font-size: v.$font-size-attention;
    font-family: v.$font-family-secondary;
}

.input-control,
.textarea-control {
    font-family: v.$font-family-secondary;
    font-size: v.$font-size-input;
    font-weight: v.$font-weight-medium;
    padding: 12px 16px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    background-color: t.$color-white;
    border: 2px solid t.$color-background-first;
    color: t.$color-black;

    &::placeholder {
        color: t.$color-background-first;
    }

    &:focus {
        border-color: t.$color-black;
    }
}

.input-control--light,
.textarea-control--light {
    background-color: t.$color-light-skin;
    border: 2px solid t.$color-background-first;

    &:focus {
        border-color: t.$color-black;
        background-color: t.$color-white;
    }
}

.input-control--dark,
.textarea-control--dark {
    background-color: t.$color-white;
}

.input-control--transparent,
.textarea-control--transparent {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
}

.input-control--error,
.textarea-control--error {
    border-color: t.$color-red-highlight !important;
}

.textarea-control {
    resize: none;
    min-height: 80px;
}

.input-field--wide {
    flex: 1 1 100%;
}

.input-field--half {
    flex: 1;
}
