@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.page {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px 0;
}

.home-page {
    &__logo-container {
        display: flex;
        gap: 10px;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: min-content;

        &__attention {
            font-size: v.$font-size-attention;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
        }
    }
}

.contacts-page {
    padding: 60px v.$main-padding-horizontal;
    
    &__main {
        display: flex;
        flex-direction: column;
        gap: 80px;

        &__title {
            display: flex;

            h1 {
                font-size: v.$font-size-h1-title;
                font-family: v.$font-family-secondary;
                color: t.$color-white;
            }
        }

        &__side-title {
            display: flex;

            font-size: v.$font-size-side-content;
            font-family: v.$font-family-secondary;
            color: t.$color-white;
        }

        &__contacts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;

            padding: v.$section-padding-vertical 0px;

            @media (max-width: 1370px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            @media (max-width: 800px) {
                grid-template-columns: auto;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }
        }

        &__feedback {
            display: grid;
            grid-template-columns: auto 1fr;

            &-data {
                display: flex;
                flex-direction: column;

                gap: 50px;

                padding: v.$section-padding-vertical 0;
            }

            &-imageContainer {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px;

                img {
                    width: 50%;
                    min-width: 500px;
                    aspect-ratio: 1 / 1;

                    border-radius: 20px;
                    border: solid 2px t.$color-background-first;
                }

                @media (max-width: 1240px) {
                    display: none;
                }
            }
        }
    }
}

.menu-page {
    padding: 60px v.$main-padding-horizontal;

    &__main {
        &-search {
            display: flex;
            gap: 40px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

        gap: 40px;

        @media (min-width: v.$critical-max-width) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: calc(v.$critical-max-width - v.$card-breakpoint-additive)) 
                and (max-width: v.$critical-max-width) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: calc(v.$critical-max-width - v.$card-breakpoint-additive * 2)) 
                and (max-width: calc(v.$critical-max-width - v.$card-breakpoint-additive)) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: calc(v.$critical-max-width - v.$card-breakpoint-additive * 2)) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


