@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.search-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    contain: layout;

    border-radius: 10px;
    border: none; 
    background-color: t.$color-white;

    padding: 0 15px;

    &__icon {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    &__field {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
