@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.header {
    gap: 0px;
    background-color: t.$color-light-skin;

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: v.$section-padding-vertical v.$main-padding-horizontal;

        &-links {
            display: flex;
            gap: 5vw;

            span {
                display: inline-block;
                position: relative;
                
                contain: paint; 
                padding-bottom: 4px; 

                color: t.$color-black;
                cursor: pointer;
                
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0; 

                    width: 100%;
                    height: 2px;
                    background-color: t.$color-black;
                    
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.4s ease;
                }
                
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &-personal {
            display: flex;
            align-items: center;
            gap: 20px;

            &__cart-icon {
                cursor: pointer;
                position: relative;
                font-size: v.$font-size-small;
                color: t.$color-white;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: absolute;
                    top: 2%;
                    left: calc(50% + 5px);
                    z-index: 1;

                    min-width: 10px;
                    padding: 1px 5px;
                    
                    border-radius: 10px;
                    
                    background-color: t.$color-background;
                }
            }
        }
    }
}

