@use '@/variables' as v;
@use '@/theme' as t;

.contact-form {
    cursor: pointer;
    display: grid;
    background-color: t.$color-light-skin;
    gap: 10px;

    min-height: 210px;
    grid-template-rows: auto auto 1fr;

    border-radius: 20px;
    padding: 20px 20px;

    &__title {
        font-size: v.$font-size-header;
    }

    &__content {
        font-size: v.$font-size-content-top;
    }

    &__bottom { 
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        span {
            font-size: v.$font-size-header;
            color: t.$color-background-first;
        }

        &-icon {
            width: 50px;
            height: 50px;
            flex-shrink: 0; 
            
            padding-left: 20px;
        }
    } 

    &:hover {
        transform: scale(1.01);
        transition: transform 0.5s ease-in-out;
    }
}

