@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.footer {
    position: relative;
    width: 100%;
    margin-top: 20px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: t.$color-light-skin;

        padding: 40px 40px;

        &-links {   
            display: flex;
            gap: 5vw;

            span {
                position: relative;
                color: t.$color-black;
                cursor: pointer;
              
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -2px;
                  width: 100%;
                  height: 2px;
                  background-color: t.$color-black;
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.4s ease;
                }
              
                &:hover::after {
                  transform: scaleX(1);
                }
            }
        }

        &-watermark {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

