@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.footer {
    position: relative;
    width: 100%;
    margin-top: 40px;
    background-color: t.$color-light-skin;

    contain: layout paint;
    will-change: transform;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: v.$main-padding-horizontal;

        @media (max-width: 900px) {
            padding: 20px;
        }

        &-links {   
            display: flex;
            gap: 5vw;

            @media (max-width: 900px) {
                display: none;
            }

            span {
                display: inline-block;
                position: relative;
                will-change: transform;

                color: t.$color-black;
                cursor: pointer;
              
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 2px;
                    background-color: t.$color-black;
                    
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.4s ease;

                    will-change: auto;
                }
              
                &:hover::after {
                  transform: scaleX(1);
                }
            }
        }

        &-watermark {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: right;

            @media (max-width: 1024px) {
                font-size: v.$font-size-small;
                gap: 8px;
            }

            @media (max-width: 900px) {
                font-size: 12px;
                gap: 6px;
            }
        }
    }
}

