@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.our-advantages {
    justify-content: center;

    gap: 140px;
    padding: v.$section-padding-vertical v.$main-padding-horizontal;

    &__title {
        color: t.$color-white;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        font-size: v.$font-size-attention-big;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        gap: 100px;

        @media (max-width: 1260px) {
            gap: 50px;   
        }
    }
}

