@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.our-advantages {
    justify-content: center;
    gap: 80px;
    padding: v.$section-padding-vertical v.$main-padding-horizontal;

    &__title {
        color: t.$color-white;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        font-size: v.$font-size-attention-big;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "main main"
            "left right";

        gap: v.$section-gap;
        align-items: stretch;
    }

    &__card {
        &--main {
            grid-area: main;
        }

        &--left {
            grid-area: left;
        }

        &--right {
            grid-area: right;
        }
    }
}