@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.our-advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 80px;

    padding: 20px 40px;

    &__title {
        color: t.$color-white;
        font-weight: v.$font-weight-medium;
        font-family: v.$font-family-secondary;
        font-size: v.$font-size-attention-big;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        width: 100%;
        gap: 100px;

        @media (max-width: 1260px) {
            gap: 50px;   
        }
    }
}

