@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

.cards-type-select {
    display: flex;
    gap: 10px;

    input {
        display: none;

        &:checked + label {
            background-color: t.$color-background-first;    
        }
    }

    label {
        color: t.$color-white;
        cursor: pointer;

        border: 1px solid t.$color-background-first;
        border-radius: 10px;

        padding: 10px 10px;
        
        transition: all 0.3s ease;
    }
}


