@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: t.$color-background;
}

#root {
  font-family: v.$font-family-main;
  font-size: v.$font-size-header;
  color: t.$color-black;
}

a {
  cursor: pointer;
  text-decoration-line: none;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

span, h1 {
  user-select: none;
  margin: 0;
}

