@use '@/theme.scss' as t;
@use '@/variables.scss' as v;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: t.$color-background;
}

#root {
  font-family: v.$font-family-main;
  color: t.$color-black;
}

a {
  cursor: pointer;
  text-decoration-line: none;
}

button {
  cursor: pointer;
}


