$color-black: black;
$color-white: #F1F1F1;
$color-background: #47250C;
$color-background-dark: #5a3218;
$color-light-skin: #F7F1E1;
$color-background-first: #777777;
$color-select-brown: #91683B;
$color-red-highlight: #f91155;