@font-face {
    font-family: 'Unbounded';
    src: url('@assets/fonts/Unbounded.ttf');
}

@font-face {
    font-family: 'Ruda';
    src: url('@assets/fonts/Ruda.ttf');
}

// Typography Variables
$font-family-main: 'Unbounded';
$font-family-secondary: 'Ruda';

$font-weight-medium: 500;

$font-size-main: 16px;
$font-size-content-top: 20px;
$font-size-side-content: 25px;
$font-size-attention: 30px;
$font-size-section-title-main: 25px;
$font-size-h1-title: 40px;
$font-size-attention-big: 50px;
$font-size-stats-number: 90px;

// Max and Min width no-resizing
$critical-max-width: 1400px;
$critical-min-width: 1000px;

// Spacing
$card-breakpoint-additive: 400px;

// padding
$main-padding-horizontal: 40px;
$section-padding-vertical: 20px;

// gap
$section-gap: 50px;