@font-face {
    font-family: 'Unbounded';
    src: url('@assets/fonts/Unbounded.ttf');
}

@font-face {
    font-family: 'Ruda';
    src: url('@assets/fonts/Ruda.ttf');
}

// Typography Variables
$font-family-main: 'Unbounded';
$font-family-secondary: 'Ruda';

$font-weight-medium: 500;

$font-size-header: 16px;
$font-size-content-top: 20px;
$font-size-side-content: 25px;
$font-size-attention: 30px;
$font-size-section-title-main: 30px;
$font-size-h1-title: 40px;
$font-size-attention-big: 50px;
$font-size-stats-number: 90px;

